* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: inline-block;
}

:root {
    /* HEADER */
    --header-color: #ff6900;

    /* BOL LOGO #1a1a1a */
    --logo-bol: #1a1a1a;

    /* BGIMAGE #ebebeb */
    --image-bg: #ebebeb;

    /* SCONTO #ff0000 */
    --scount-bg: #ff0000;

    /* SOSTENIBILITA #008000 */
    --sost-bg: #008000;

    /* HEART COLOR */
    --heart-color: #000;

    /* FOOTER #1a1a1a */
    --footer-bg: #1a1a1a;
}

/*XXXXXXXXXXXXXX
XXXXXGENERALXXXX
XXXXXXXXXXXXXXX*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;

}

a {
    color: inherit;
    text-decoration: none;
}

/*XXXXXXXXXXXXXX
XXXXXHEADERXXXXX
XXXXXXXXXXXXXXX*/


header {
    /* display: none; */
    width: 100vw;
    background-color: var(--header-color);
    position: fixed;
    z-index: 9999;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 80%;
    margin: 0 auto;
    color: #fff;
    font-weight: 500;
}

.header-nav>div {
    display: flex;
    align-items: center;
}

.header-nav li {
    display: inline-block;
}

.header-nav img {
    height: 2em;
}

/*XXXXXXXXXXXXXX
XXXXXXMAINXXXXXX
XXXXXXXXXXXXXXX*/

/* main {
    display: none;
} */

.row {
    padding: 80px 0;
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.card {
    width: calc(95% / 3);
    margin: auto;
}

.bg-img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.card:hover .front-img {
    position: relative;
    z-index: -2;
}

.card:hover .heart {
    color: red;
}

.card-core {
    position: relative;
}

.heart {
    position: absolute;
    right: 0;
    top: 1em;
    font-size: 1.2em;
    padding: 0.4em 0.6em;
    background-color: #fff;
}

.prom-banner {
    position: absolute;
    left: 0;
    bottom: 2em;
    display: flex;
    gap: 0.3em;
}

.scount,
.sost {
    width: max-content;
    padding: 0.2em 0.5em;
    color: #fff;
    font-weight: 500;
}

.scount {
    background-color: var(--scount-bg);
}

.sost {
    background-color: var(--sost-bg);
}

.desc>* {
    margin-bottom: 2px;
}

.item-name {
    text-transform: uppercase;
}

.price-sect .price {
    color: red;
    font-weight: 500;
}

.price-sect .old {
    text-decoration: line-through;
}


/*XXXXXXXXXXXXXX
XXXXXFOOTERXXXXX
XXXXXXXXXXXXXXX*/